<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AboutMe</display-name>
  <error-page>
    <error-code>404</error-code>
    <location>/error-404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>ControllerAdminCategory</servlet-name>
    <servlet-class>controller.ControllerAdminCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminCategory</servlet-name>
    <url-pattern>/admin/category</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminGioiThieu</servlet-name>
    <servlet-class>controller.ControllerAdminGioiThieu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminGioiThieu</servlet-name>
    <url-pattern>/admin/gioithieu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDuanthuchien</servlet-name>
    <servlet-class>controller.ControllerAdminDuanthuchien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDuanthuchien</servlet-name>
    <url-pattern>/admin/duanthuchien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDuanthuchienAdd</servlet-name>
    <servlet-class>controller.ControllerAdminDuanthuchienAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDuanthuchienAdd</servlet-name>
    <url-pattern>/admin/addProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDuanthuchienDel</servlet-name>
    <servlet-class>controller.ControllerAdminDuanthuchienDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDuanthuchienDel</servlet-name>
    <url-pattern>/admin/delProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDuanthuchienEdit</servlet-name>
    <servlet-class>controller.ControllerAdminDuanthuchienEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDuanthuchienEdit</servlet-name>
    <url-pattern>/admin/editProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndex</servlet-name>
    <servlet-class>controller.ControllerAdminIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndex</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminCategoryAdd</servlet-name>
    <servlet-class>controller.ControllerAdminCategoryAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminCategoryAdd</servlet-name>
    <url-pattern>/admin/addCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminCategoryDel</servlet-name>
    <servlet-class>controller.ControllerAdminCategoryDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminCategoryDel</servlet-name>
    <url-pattern>/admin/delCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminCategoryEdit</servlet-name>
    <servlet-class>controller.ControllerAdminCategoryEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminCategoryEdit</servlet-name>
    <url-pattern>/admin/editCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminUsers</servlet-name>
    <servlet-class>controller.ControllerAdminUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminUsers</servlet-name>
    <url-pattern>/admin/indexUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminUsersAdd</servlet-name>
    <servlet-class>controller.ControllerAdminUsersAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminUsersAdd</servlet-name>
    <url-pattern>/admin/addUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminUsersDel</servlet-name>
    <servlet-class>controller.ControllerAdminUsersDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminUsersDel</servlet-name>
    <url-pattern>/admin/delUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminUsersEdit</servlet-name>
    <servlet-class>controller.ControllerAdminUsersEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminUsersEdit</servlet-name>
    <url-pattern>/admin/editUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminLogin</servlet-name>
    <servlet-class>controller.ControllerAdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminLogin</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminLogout</servlet-name>
    <servlet-class>controller.ControllerAdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminLogout</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPublicHome</servlet-name>
    <servlet-class>controller.ControllerPublicHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicHome</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminContact</servlet-name>
    <servlet-class>controller.ControllerAdminContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminContact</servlet-name>
    <url-pattern>/admin/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminContactAdd</servlet-name>
    <servlet-class>controller.ControllerAdminContactAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminContactAdd</servlet-name>
    <url-pattern>/admin/addContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminContactDel</servlet-name>
    <servlet-class>controller.ControllerAdminContactDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminContactDel</servlet-name>
    <url-pattern>/admin/delContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminContactEdit</servlet-name>
    <servlet-class>controller.ControllerAdminContactEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminContactEdit</servlet-name>
    <url-pattern>/admin/editContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminSaying</servlet-name>
    <servlet-class>controller.ControllerAdminSaying</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminSaying</servlet-name>
    <url-pattern>/admin/saying</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminSayingAdd</servlet-name>
    <servlet-class>controller.ControllerAdminSayingAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminSayingAdd</servlet-name>
    <url-pattern>/admin/addSaying</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminSayingDel</servlet-name>
    <servlet-class>controller.ControllerAdminSayingDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminSayingDel</servlet-name>
    <url-pattern>/admin/delSaying</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminSayingEdit</servlet-name>
    <servlet-class>controller.ControllerAdminSayingEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminSayingEdit</servlet-name>
    <url-pattern>/admin/editSaying</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAdvs</servlet-name>
    <servlet-class>controller.ControllerAdminAdvs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAdvs</servlet-name>
    <url-pattern>/admin/advs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAdvsAdd</servlet-name>
    <servlet-class>controller.ControllerAdminAdvsAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAdvsAdd</servlet-name>
    <url-pattern>/admin/addAdvs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAdvsDel</servlet-name>
    <servlet-class>controller.ControllerAdminAdvsDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAdvsDel</servlet-name>
    <url-pattern>/admin/delAdvs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAdvsEdit</servlet-name>
    <servlet-class>controller.ControllerAdminAdvsEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAdvsEdit</servlet-name>
    <url-pattern>/admin/editAdvs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPublicAboutme</servlet-name>
    <servlet-class>controller.ControllerPublicAboutme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicAboutme</servlet-name>
    <url-pattern>/aboutme</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPublicProject</servlet-name>
    <servlet-class>controller.ControllerPublicProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicProject</servlet-name>
    <url-pattern>/project</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminNews</servlet-name>
    <servlet-class>controller.ControllerAdminNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminNews</servlet-name>
    <url-pattern>/admin/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminNewsSearch</servlet-name>
    <servlet-class>controller.ControllerAdminNewsSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminNewsSearch</servlet-name>
    <url-pattern>/admin/searchNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminNewsActive</servlet-name>
    <servlet-class>controller.ControllerAdminNewsActive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminNewsActive</servlet-name>
    <url-pattern>/admin/activeNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminNewsAdd</servlet-name>
    <servlet-class>controller.ControllerAdminNewsAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminNewsAdd</servlet-name>
    <url-pattern>/admin/addNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminNewsDel</servlet-name>
    <servlet-class>controller.ControllerAdminNewsDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminNewsDel</servlet-name>
    <url-pattern>/admin/delNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminNewsEdit</servlet-name>
    <servlet-class>controller.ControllerAdminNewsEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminNewsEdit</servlet-name>
    <url-pattern>/admin/editNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminNewsDelChoose</servlet-name>
    <servlet-class>controller.ControllerAdminNewsDelChoose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminNewsDelChoose</servlet-name>
    <url-pattern>/admin/delChoose</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminUsersProfile</servlet-name>
    <servlet-class>controller.ControllerAdminUsersProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminUsersProfile</servlet-name>
    <url-pattern>/admin/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPublicNews</servlet-name>
    <servlet-class>controller.ControllerPublicNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicNews</servlet-name>
    <url-pattern>/News</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPublicDetail</servlet-name>
    <servlet-class>controller.ControllerPublicDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicDetail</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPublicContact</servlet-name>
    <servlet-class>controller.ControllerPublicContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicContact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminThanhVien</servlet-name>
    <servlet-class>controller.ControllerAdminThanhVien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminThanhVien</servlet-name>
    <url-pattern>/admin/thanhvien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminThanhVienAdd</servlet-name>
    <servlet-class>controller.ControllerAdminThanhVienAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminThanhVienAdd</servlet-name>
    <url-pattern>/admin/addThanhVien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminThanhVienEdit</servlet-name>
    <servlet-class>controller.ControllerAdminThanhVienEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminThanhVienEdit</servlet-name>
    <url-pattern>/admin/editThanhVien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminThanhVienDel</servlet-name>
    <servlet-class>controller.ControllerAdminThanhVienDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminThanhVienDel</servlet-name>
    <url-pattern>/admin/delThanhVien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerPublicThanhVien</servlet-name>
    <servlet-class>controller.ControllerPublicThanhVien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPublicThanhVien</servlet-name>
    <url-pattern>/thanhvien</url-pattern>
  </servlet-mapping>
</web-app>